/* Typography */
@import url('./../typography/typography.css');

/* Colors */
@import url('./../colors/colors.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Primary */
    --p-light-red-color: hsl(0, 100%, 67%);
    --p-orangey-yellow-color: hsl(39, 100%, 56%);
    --p-teal-color: hsl(166, 100%, 37%);
    --p-cobalt-blue: hsl(234, 85%, 45%);

    /* Gradients */

    /* Background */
    --bg-light-slate-blue-color: hsl(252, 100%, 67%);
    --bg-light-royal-blue-color: hsl(241, 81%, 54%);

    /* Sub Background */
    --reaction-bg-color: hsl(0, 100%, 67%, 0.1);
    --memory-bg-color:hsl(39, 100%, 56%, 0.1);
    --verbal-bg-color: hsl(166, 100%, 37%, 0.1);
    --visual-bg-color: hsla(256, 72%, 46%, 0.1);

    /* Circles */
    --c-violet-blue: hsla(256, 72%, 46%, 1);
    --c-Persian-blue: hsla(241, 72%, 46%, 0);

    /* Neutral  */
    --n-white-color: hsl(0, 0%, 100%);
    --n-pale-blue: hsl(221, 100%, 96%);
    --n-light-lavender: hsl(241, 100%, 89%);
    
    /* Button color */
    --btn-dark-gray: hsl(224, 30%, 27%);
}

body {
    background-color: var(--n-white-blue);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
}

main {
    background-color: var(--n-white-color);
    max-width: 40rem;
    height: 30rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    border-radius: 20px;
    box-shadow: 0 0 15px 0 var(--n-light-lavender);
}

h1 {
    width: 100%;
}

main section:first-of-type {
    background-color: var(--c-violet-blue);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-evenly;
    border-radius: 20px;
}

.result h1 {
    text-align: center;
    font-weight: 500;
}

.result-circle {
    background-color: var(--p-cobalt-blue);
    min-width: 12rem;
    min-height: 12rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-radius: 50%;
    margin-top: -1rem;
}

.number-76 {
    /* width: 100%; */
    color:  var(--n-white-color);
    font-size: 3rem;
    font-weight: bold;
}

.result p {
    width: 100%;
}

/* .of-100 {
} */

.great {
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 1.7rem;
    color: var(--n-white-color);
} 

.result-info {
    width: 70%;
    text-align: center;
}

main section:last-of-type {
    background-color: var(--n-white-color);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 14%;
    row-gap: 10px;
    margin: 1.5rem;
    box-shadow: 0 0 20px 0 white;
}

main .summary h1 {
    padding: 0.5rem 0 0.4rem;
    color: var(--btn-dark-gray);
}

 main .summary div{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 0 0.6rem;
    height: 3.5rem;
}

main .summary div > span:first-child {
    font-size: 1.1rem;
    font-weight: 650;
    display: flex;
}

main .summary img {
    align-self: center;
    padding: 0 0.5rem;
}

.reaction {
    background-color: var(--reaction-bg-color);
    color: var(--p-light-red-color);
}

.memory {
    color: var(--p-orangey-yellow-color);
    background-color: var(--memory-bg-color);
}

.verbal {
    color: var(--p-teal-color);
    background-color: var(--verbal-bg-color);
}

.visual {
    color: var(--c-violet-blue);
    background-color: var(--visual-bg-color);
}

main button {
    background-color: var(--btn-dark-gray);
    color: var(--n-white-color);
    font-weight: 600;
    border-radius: 30px;
    border: none;
    font-family: inherit;
    font-size: 0.9rem;
    height: 2.5rem;
}
main button:hover {
    cursor: pointer;
    background-color: var(--c-violet-blue);
}