/* Typography */
@import url('./../typography/typography.css');

/* Colors */
@import url('./../colors/colors.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--n-white-blue);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
}

main {
    background-color: var(--n-white-color);
    max-width: 50rem;
    height: 31rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100%;
    border-radius: 30px;
    box-shadow: 0 0 15px 0 var(--n-light-lavender);
    margin: 2rem;
}

h1 {
    width: 100%;
}

/* Result Card  */
main section:first-of-type {
    background: linear-gradient(0deg, rgba(46, 43, 233, 1) 35%, rgba(120, 87, 255, 1) 100%);
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: space-evenly;
    border-radius: 30px;
}

.result h1 {
    text-align: center;
    font-weight: 500;
}

.result-circle {
    background: linear-gradient(0deg, rgba(36, 33, 202, 0.109) 30%, rgba(78, 33, 202, 1) 80%);
    min-width: 12rem;
    min-height: 12rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    text-align: center;
    border-radius: 50%;
    margin-top: -1rem;
}

.number-76 {
    color: var(--n-white-color);
    font-size: 3rem;
    font-weight: bold;
}

.result p {
    width: 100%;
}

.of-100 {
    font-size: 1rem;
    font-weight: 500;
    color: #b7b2b2bd;
}

.great {
    width: 100%;
    text-align: center;
    font-weight: 500;
    font-size: 1.7rem;
    color: var(--n-white-color);
}

.result-info {
    width: 63%;
    text-align: center;
}

/* Summary Card  */
main section:last-of-type {
    background-color: var(--n-white-color);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 14%;
    row-gap: 10px;
    margin: 1.5rem;
}

main .summary h1 {
    padding: 0.5rem 0 0.4rem;
    color: var(--btn-dark-gray);
}

main .summary div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    padding: 0 0.6rem;
    height: 3.5rem;
}

main .summary div>span:first-child {
    font-size: 1.1rem;
    font-weight: 650;
    display: flex;
}

main .summary img {
    align-self: center;
    padding: 0 0.5rem;
}

.reaction {
    background-color: var(--reaction-bg-color);
    color: var(--p-light-red-color);
}

.memory {
    color: var(--p-orangey-yellow-color);
    background-color: var(--memory-bg-color);
}

.verbal {
    color: var(--p-teal-color);
    background-color: var(--verbal-bg-color);
}

.visual {
    color: var(--c-violet-blue);
    background-color: var(--visual-bg-color);
}

main button {
    background-color: var(--btn-dark-gray);
    color: var(--n-white-color);
    font-weight: 600;
    border-radius: 30px;
    border: none;
    font-family: inherit;
    font-size: 0.9rem;
    height: 2.5rem;
}

main button:hover {
    cursor: pointer;
    background-color: var(--c-violet-blue);
}

/* Media Query  */
/* Mobile Design */
@media (max-width: 375px) {

    body {
        font-size: 15px;
        font-weight: 500;
        height: auto;
    }

    main {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        height: auto;
        margin: 0 !important;
    }

    .result {
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        row-gap: 5px;
        padding: 10px 0;
    }

    .result-circle {
        min-width: 8rem;
        min-height: 8rem;
        margin: 0;
    }

    .result-info {
        width: 100%;
        padding: 10px 24px;
    }

    h1 {
        font-size: 20px;
        padding: 1rem;
    }

    .summary {
        margin: 0.3rem 1.5rem !important;
        width: 100%;
    }
}

/* Tablet Design */
@media (min-width: 376px) and (max-width: 768px) {

    body {
        font-size: 17px;
        font-weight: 500;
        height: auto;
    }

    main {
        display: flex;
        flex-flow: row wrap;
        width: 100%;
        height: auto;
        margin: 1rem;
    }

    .result {
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0 !important;
        row-gap: 10px;
        padding: 10px 0;
    }

    .result-circle {
        min-width: 8rem;
        min-height: 8rem;
        margin: 0;
    }

    .result-info {
        width: 100%;
        padding: 10px 24px;
    }

    h1 {
        font-size: 20px;
        padding: 1rem;
    }

    .summary {
        margin: 1rem 1.5rem;
        width: 100%;
        height: auto;
    }

}